@page "/counter"
@using JectoryLibrary
@rendermode InteractiveServer

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current customers count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<button class="btn btn-primary" @onclick="SetAll">Update data</button>

@code {
    private int currentCount = 0;

    protected override void OnInitialized()
    {
        currentCount = Customer.GetFactory().Count();
        base.OnInitialized();
    }

    private void IncrementCount()
    {
        Customer customer = new Customer();
        customer.Validate(e => e.Code, currentCount.ToString());
        customer.Insert();


        StaticTest.Instance.Add(currentCount.ToString());
        StaticTest.Instance.Print();
        currentCount++;
    }

    private void SetAll()
    {
        Customer.GetFactory()
            .AddFilter(e => ! e.Blocked)
            .ModifyAll(e => e.Blocked, true, true, true);
    }
}
