@page "/weather"
@using JectoryLibrary
@attribute [StreamRendering]

<PageTitle>Weather</PageTitle>

<h1>Weather</h1>

<p>This component demonstrates showing data.</p>

@if (Data == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Codice</th>
                <th>Nome</th>
                <th>Bloccato</th>
                <th>ID</th>
            </tr>
        </thead>
        <tbody>
            @foreach(Customer customer in Data)
            {
                <tr>
                    <td>@customer.Code</td>
                    <td>@customer.Name</td>
                    <td>@customer.Blocked</td>
                    <td>@customer.SystemId</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private IEnumerable<Customer> Data;

    protected override void OnInitialized()
    {
        Data = Customer.GetFactory().FindSet();
    }
}
